<!-- Formulario de Login que solo se muestra si el usuario NO está logueado -->
<div *ngIf="!isLogged">
    <div class="login-container container mt-5 p-4 border rounded shadow-lg">
        <h2 class="text-center mb-4">Inicio de Sesión</h2>
        <form>
            <div class="form-group mb-3">
                <label for="usuario" class="form-label">Usuario:</label>
                <input id="usuario" type="text" [(ngModel)]="usuario" name="usuario" class="form-control"
                    placeholder="Introduzca nombre de usuario" required>
            </div>

            <div class="form-group mb-3">
                <label for="contrasena" class="form-label">Clave:</label>
                <input id="contrasena" type="password" [(ngModel)]="contrasena" name="contrasena" class="form-control"
                    placeholder="Introduzca su clave" required>
            </div>

            <button type="button" (click)="logear()" class="btn btn-primary btn-block w-100">Login</button>
        </form>
    </div>
</div>